* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100%;
    background-color: #2fccdf;
}
.mainpage {
    min-height: 100%;
}

.messagearea {
    display: block;
    width:50%;
}

.chosefile {
    float:right;
}
.footer
{
  position: absolute;
  margin-bottom: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
 a {
     color: #fff;
 }

 a:hover {
    color: #2c50ac;
 }
.bottom{
  position: relative;
  float: right;
}
.pagecolor{
  color: white;
}
